<H1>Data Science Tools and Ecosystem</H1>

<H2>Author</H2><body>Matthew Bryan</body>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the Key Objectives for this Course</p>

<ul type="bullets">
  <li>List Popular Languages for Data Science</li>
  <li>List Commonly Used Libraries for Data Science</li>
  <li>Outline a few Data Science Tools</li>
  <li>Give examples of some basic Arithmetic Expressions and Evaluate them </li>
</ul>

<p>Some of the popular languages that Data Scientists use are:
<ol type="1">
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>JAVA</li>
  <li>TensorFlow</li>
</ol>
</p>

<p>Some of the commonly used libraries used by Data Scientists include:
<ol type="1">
  <li>NumPy</li>
  <li>Pandas</li>
  <li>MatPlotLib</li>
  <li>Keras</li>
  <li>PyTorch</li>
</ol>
</p>


<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>    
<tr>
    <td>Apache Spark</td>
  </tr>        
   <tr>
    <td>TensorFlow</td>
  </tr>    
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [16]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60.
# minutes / 60 == hours

200 / 60

3.3333333333333335